{{- $raw := .RawContent -}}
{{- $afterHeading := "" -}}
{{- if in $raw "## Sinopsi" -}}
  {{- $parts := split $raw "## Sinopsi" -}}
  {{- $afterHeading = index $parts 1 -}}
{{- end -}}
{{- $upToNextHeading := $afterHeading -}}
{{- if in $afterHeading "\n## " -}}
  {{- $upToNextHeading = index (split $afterHeading "\n## ") 0 -}}
{{- end -}}
{{- $trimmed := trim $upToNextHeading "\n " -}}
{{- $rendered := $trimmed | markdownify -}}
{{- $rendered = strings.TrimPrefix "<p>" $rendered -}}
{{- $rendered = strings.TrimSuffix "</p>\n" $rendered -}}
{{- $rendered = strings.TrimSuffix "</p>" $rendered -}}
{{- $rendered | safeHTML -}}
