{{- $data := dict
  "@context" "https://schema.org"
  "@type" "ScreeningEvent"
  "name" .Title
  "startDate" (.Date.Format "2006-01-02T15:04:05-07:00")
  "location" (dict
    "@type" "Place"
    "name" .Site.Params.venueName
    "address" .Site.Params.venueAddress
  )
  "workPresented" (dict
    "@type" "Movie"
    "name" (.Params.titol_original | default .Title)
  )
  "offers" (dict
    "@type" "Offer"
    "price" "5"
    "priceCurrency" "EUR"
    "url" .Permalink
  )
-}}
<script type="application/ld+json">
{{ $data | jsonify | safeJS }}
</script>
